@model DomainModel.DTO.User.UserAddEditModel

<style>
    .SignInBtn {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
    }

    .LogIn {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
    }

    .container {
        height: 580px;
        max-width: 900px;
        width: 900px;
    }

    .ResponseMessageSignIn {
        position: fixed;
        font-size: 2rem;
        font-weight: 900;
        bottom: 100px;
    }

    .ResponseMessageLogIn {
        position: fixed;
        font-size: 2rem;
        font-weight: 900;
        bottom: 100px;
    }
    .SignInBtn {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
    }

    .LogIn {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
    }

    

    .ResponseMessageSignIn {
        position: fixed;
        font-size: 2rem;
        font-weight: 900;
        bottom: 100px;
    }

    .ResponseMessageLogIn {
        position: fixed;
        font-size: 2rem;
        font-weight: 900;
        bottom: 100px;
    }
</style>
<script>
    $(document).on("click", ".SignInBtn", function () {
        $(this).html(" صبر کنید ");
        var Url = '@Url.Action("SignIn", "Account")';
        var data = $("#SignInForm").serialize();
        debugger; 
        $.ajax({
            url: Url,
            type: "POST",
            data: data,
            success: function (result) {
                if (result.status == "error") {
                    $(".ResponseMessageSignIn").html(result.message);
                    $(".SignInBtn").html(" عضویت ");
                } else {
                    $(".ResponseMessageSignIn").html(result.message);
                    $(".SignInBtn").html(" عضویت ");
                }


            },
            error: function (result) {
                $(".ResponseMessageSignIn").html(result.message);
                $(".SignInBtn").html(" عضویت ");
            }
        });

    });

    $(document).on("click", ".LogIn", function () {
        $(this).html(" صبر کنید ");
        var Url = '@Url.Action("Login", "Account")';
        var data = $("#LogInForm").serialize();

        $.ajax({
            url: Url,
            type: "POST",
            data: data,
            success: function (result) {
                if (result.status == "error") {
                    $(".ResponseMessageLogIn").html(result.message);
                    $("#LogIn").html(" ورود ");
                } else {
                    $(".ResponseMessageLogIn").html(result.message);
                    $("#LogIn").html(" ورود ");
                    var Url = '@Url.Action("HomePage", "Home")';

                    $(location).attr("href", Url);
                }


            },
            error: function (result) {
                $(".ResponseMessageLogIn").html(result.message);
                $("#LogIn").html(" ورود ");
            }
        });

    });
    // $(document).on("click", ".SignInBtn", function () {
    //     $(this).html(" صبر کنید ")
    //     var Url = '@Url.Action("SignIn", "Account")';
    //     var data = $("#LogInForm").serialize();

    //     $.ajax({
    //         url: Url,
    //         type: "POST",
    //         data: data,
    //         success: function (result) {
    //             if (result.status == "error") {
    //                 $(".ResponseMessageSignIn").html(result.message);
    //                 $(".SignInBtn").html(" عضویت ");
    //             } else {
    //                 $(".ResponseMessageSignIn").html(result.message);
    //                 $(".SignInBtn").html(" عضویت ");
    //             }


    //         },
    //         error: function (result) {
    //             $(".ResponseMessageSignIn").html(result.message);
    //             $(".SignInBtn").html(" عضویت ");
    //         }
    //     });

    // });

    // $(document).on("click", ".LogIn", function () {
    //     $(this).html(" صبر کنید ");
    //     var Url = '@Url.Action("Login", "Account")';
    //     var data = $("#LogInForm").serialize();

    //     $.ajax({
    //         url: Url,
    //         type: "POST",
    //         data: data,
    //         success: function (result) {
    //             if (result.status == "error") {
    //                 $(".ResponseMessageLogIn").html(result.message);
    //                 $("#LogIn").html(" ورود ");
    //             } else {
    //                 $(".ResponseMessageLogIn").html(result.message);
    //                 $("#LogIn").html(" ورود ");
    //             }


    //         },
    //         error: function (result) {
    //             $(".ResponseMessageLogIn").html(result.message);
    //             $("#LogIn").html(" ورود ");
    //         }
    //     });

    // });
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- start css and styles -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link type="text/css" href="~/css/styleLoginSignIn.css" rel="stylesheet" />
    <!-- end css and styles -->
</head>
<body>
    <div class="container" id="container">
        <!-- start sing up form -->
        <div class="form-container sign-up-container">
            <form id="SignInForm">
                <h1>ایجاد حساب</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>یا با ایمیل خود حساب ایجاد کنید</span>
                <input type="text" asp-for="FirstName" placeholder="نام" />
                <input type="text" asp-for="LastName" placeholder=" نام خانوادگی " />
                <input type="text" asp-for="UserName" placeholder=" نام کاربری " />
                <input type="email" asp-for="Email" placeholder=" ایمیل " />
                <input type="password" asp-for="Password" placeholder="رمز عبور" />
                <input type="password" asp-for="LastPassword" placeholder=" تکرار رمز عبور" />
                <span class="SignInBtn">عضویت</span>
            </form>
        </div>
        <!-- end sing up form -->
        <!-- start sing in form -->
        <div class="form-container sign-in-container">
            <form id="LogInForm" action="#" method="">
                <h1>ورود</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>یا با حساب خود وارد شوید</span>
                <input type="text" asp-for="UserNameLogIn" placeholder=" نام کاربری " />
                <input type="password" asp-for="PasswordLogIn" placeholder="رمز عبور" />
                <a href="#">رمز عبور خود را فراموش کرده ام !</a>
                <p id="LogIn" class="LogIn" type="submit">ورود</p>
            </form>
        </div>
        <!-- end sing in form -->

        <div class="overlay-container">
            <div class="overlay">
                <!-- start sing in overlay -->
                <div class="overlay-panel overlay-right">
                    <h1>خوش آمدید</h1>
                    <p>برای برقراری ارتباط با ما لطفا حساب کاربری خود را ایجاد کنید</p>
                    <button class="ghost" id="signIn">ورود</button>
                    <div class="ResponseMessageSignIn"></div>
                </div>
                <!-- end sing in overlay -->
                <!-- start sing up overlay -->
                <div class="overlay-panel overlay-left">
                    <h1>سلام، دوست خوبم</h1>
                    <p>وارد حساب کاربری خود شوید و با ما به کشف جهان بپردازید</p>
                    <button class="ghost" id="signUp">عضویت</button>
                    <div class="ResponseMessageLogIn"></div>
                </div>
                <!-- end sing up overlay -->
            </div>
        </div>
    </div>


</body>
</html>


